APP_NAME=JurassicPark
APP_ENV=local
APP_KEY=base64:LwXCmwA36yPaYAvJqeLMD/KF8ZTREMMlGplQ9k7ZRo4=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=base_de_datos_jurassic_park
DB_USERNAME=user_de_jurassic
DB_PASSWORD=password_de_jurassic

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
CACHE_STORE=file

REVERB_APP_ID=id_de_jurassic
REVERB_APP_KEY=key_de_jurassic
REVERB_APP_SECRET=secret_de_jurassic
REVERB_HOST=127.0.0.1
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"

VITE_APP_NAME="${APP_NAME}"

SANCTUM_STATEFUL_DOMAINS=localhost:5173
